.header {
  background-color: #ede3fc;
  padding: 10px;
  z-index: 1;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}
.menu {
  background-color: #ede3fc;
  padding: 20px 15px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}
.menu h4 {
  margin: 20px 0;
}
.menu label {
  margin-top: 3px;
}
.menu input {
  width: 100px;
}
.button-group{
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.input-grp{
  padding-top: 20px;
  font-weight: 600;
}
.buttonContainer {
  margin: 20px 0;
}
.legend{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}
.legendBox {
  display: flex;
  margin: 5px;
}
.legendDescription {
  margin: auto 10px;
}
.green {
  background-color: green !important;
}
.gridContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: 1px solid blue;
  transition: 1s;
}
.gridRow {
  display: flex;
}
.cell {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  margin: 0;
}
.cell:hover {
  background-color: aliceblue;
}
.obstacle {
  background-color: #683ab7 !important;
}
.obstacle:hover {
  background-color: #683ab7;
}
.start {
  background-color: green !important;
}
.start:hover {
  background-color: green;
}
.end {
  background-color: red !important;
}
.end:hover {
  background-color: red;
}
.visited {
  background-color: #addaff;
}
.path {
  background-color: #fcc358;
}
.stopInteractions {
  pointer-events: none;
}
.footer {
  text-align: center;
}
